.maintenance-title{
  font-family: "Open Sans";
  font-weight: 400;
  text-align: center;
  font-size: 2em;
}

.maintenance-txt{
  font-family: "Open Sans";
  font-weight: 400;
  text-align: center;
  font-size: 1.5em;
}
